---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>@wes/tmdb</title>
  </head>
  <body>
    <h1>@wes/tmdb</h1>
    DB_URL: {process.env.DB_URL}
  </body>
</html>
