---

---

<div class="fixed inset-x-0 -z-10 transform-gpu overflow-hidden blur-lg" aria-hidden="true">
  <!-- <div
    class="relative aspect-square rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-15 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
  >
  </div> -->
  <svg
    class="aspect-square rotate-[-90deg] opacity-25"
    viewBox="0 0 1920 1080"
    preserveAspectRatio="xMaxYMid slice"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <rect width="1920" height="1080" fill="hsl(188, 65%, 15%)"></rect>
    <defs>
      <linearGradient x1="0.5" y1="0" x2="0" y2="1" id="SvgjsLinearGradient1392">
        <stop stop-color="#288a70" offset="0"></stop>
        <stop stop-color="#060914" offset="0.1"></stop>
      </linearGradient>
      <linearGradient x1="0.5" y1="0" x2="0" y2="1" id="SvgjsLinearGradient1393">
        <stop stop-color="#286a8a" offset="0"></stop>
        <stop stop-color="#0a0614" offset="0.22857142857142856"></stop>
      </linearGradient>
      <linearGradient x1="0.5" y1="0" x2="0" y2="1" id="SvgjsLinearGradient1394">
        <stop stop-color="#288a84" offset="0"></stop>
        <stop stop-color="#060714" offset="0.3571428571428571"></stop>
      </linearGradient>
      <linearGradient x1="0.5" y1="0" x2="0" y2="1" id="SvgjsLinearGradient1395">
        <stop stop-color="#c0ebf2" offset="0"></stop>
        <stop stop-color="#5642d7" offset="0.48571428571428565"></stop>
      </linearGradient>
      <linearGradient x1="0.5" y1="0" x2="0" y2="1" id="SvgjsLinearGradient1396">
        <stop stop-color="#c0f2e4" offset="0"></stop>
        <stop stop-color="#4269d7" offset="0.6142857142857142"></stop>
      </linearGradient>
      <linearGradient x1="0.5" y1="0" x2="0" y2="1" id="SvgjsLinearGradient1397">
        <stop stop-color="#c0f2e4" offset="0"></stop>
        <stop stop-color="#4269d7" offset="0.7428571428571429"></stop>
      </linearGradient>
      <linearGradient x1="0.5" y1="0" x2="0" y2="1" id="SvgjsLinearGradient1398">
        <stop stop-color="#c0ebf2" offset="0"></stop>
        <stop stop-color="#5642d7" offset="0.8714285714285713"></stop>
      </linearGradient>
    </defs>
    <path
      d="M0,-550.9935825845744C35.65328900007476,-544.5465930534689,127.96862483870629,-535.4658649628957,213.91973400044853,-512.3116453979417C299.8708431621908,-489.15742583298766,435.2184690129837,-437.93204165999947,515.7066549704534,-412.0682651948501C596.1948409279231,-386.2044887297007,621.6187364770999,-382.58843596392705,696.8488497452669,-357.1289866070453C772.0789630134338,-331.66953725016356,875.9820984811695,-280.90721434687646,967.0873345794553,-259.31156905355977C1058.192570677741,-237.71592376024307,1172.0464760542254,-242.1254315628002,1243.4802663349815,-227.55511484714515C1314.9140566157375,-212.9847981314901,1326.6730021499689,-195.7349376448545,1395.6900762639918,-171.8896687596295C1464.7071503780148,-148.0443998744045,1570.197723729784,-111.29951589830425,1657.5827110191187,-84.48350153579506C1744.9676983084535,-57.66748717328586,1876.2637851698532,-23.24190240977778,1920,-10.993582584574327L 1920 1080 L 0 1080 Z"
      fill="url(#SvgjsLinearGradient1392)"></path>
    <path
      d="M0,-388.8506356527769C77.05233790736781,-372.00771404235337,302.7810432588052,-332.8170217342491,462.3140274442069,-287.7931059902359C621.8470116296086,-242.7691902462227,796.1814396054767,-167.24395875512866,957.1979051124099,-118.70714118869756C1118.214370619343,-70.17032362226647,1267.9458046712073,-43.929237228588526,1428.4128204858057,3.427799408350637C1588.8798363004041,50.7848360452898,1838.0688034143009,138.43386542883962,1920,165.4350786329374L 1920 1080 L 0 1080 Z"
      fill="url(#SvgjsLinearGradient1393)"></path>
    <path
      d="M0,-283.7953304747569C66.99021032317565,-265.1289873765571,277.33309500004907,-203.27450438687717,401.94126193905385,-171.79727188555808C526.5494288780586,-140.32003938423898,618.7427385527643,-128.0919870461815,747.6490016340287,-94.93193546684238C876.555264715293,-61.77188388750327,1035.4012138316866,-23.627199012848145,1175.37884042664,27.163037590476527C1315.3564670215933,77.9532741938012,1463.4112346081881,166.87397406873978,1587.514761203748,209.80948415310564C1711.618287799308,252.7449942374715,1864.585793533958,272.2816624394107,1920,284.7760980966717L 1920 1080 L 0 1080 Z"
      fill="url(#SvgjsLinearGradient1394)"></path>
    <path
      d="M0,-137.49664107693562C54.285051354054495,-115.56234633284721,227.41820335933699,-30.657444697107152,325.71030812432696,-5.890872612405204C424.00241288931693,18.875699472296745,506.93043776832513,-17.09867882570553,589.7526285899398,11.102791431276081C672.5748194115545,39.3042616882577,737.326949415732,140.4808521406086,822.6434530540151,163.3179489294845C907.9599566922983,186.15504571836038,1006.9935851400307,122.2837416814802,1101.651650419639,148.12537216453154C1196.3097156992474,173.9670026475829,1298.2649023244517,279.2776280676259,1390.591844731665,318.36773182779257C1482.9187871388785,357.4578355879592,1567.3786123181967,361.50053306679564,1655.6133048629192,382.66599472553145C1743.8479974076417,403.83145638426726,1875.9355508104866,434.91141727109465,1920,445.3605017802073L 1920 1080 L 0 1080 Z"
      fill="url(#SvgjsLinearGradient1395)"></path>
    <path
      d="M0,-15.695260577164838C72.18974942276616,0.06137659171813148,313.6975251151798,32.693541362542256,433.13849653659696,78.84456243613297C552.5794679580141,124.9955835097237,589.342391330645,217.8580074306187,716.645828528503,261.21086586437946C843.949265726361,304.5637242981402,1053.9038028741488,311.6161414681162,1196.9591197237446,338.96171303869744C1340.0144365733404,366.30728460927867,1454.470916246701,384.8699813667011,1574.977729626077,425.28429528786694C1695.484543005453,465.6986092090328,1862.4962882710129,555.4203796860548,1920,581.4475965656924L 1920 1080 L 0 1080 Z"
      fill="url(#SvgjsLinearGradient1396)"></path>
    <path
      d="M0,97.51470209625032C66.06487495173536,111.68016770051416,275.98411309492053,136.85870983687212,396.3892497104122,182.50749572183338C516.7943863259038,228.15628160679464,597.224794414683,328.0128164055243,722.4308196929497,371.40741740601777C847.6368449712165,414.80201840651125,1007.2218654612667,411.77067488742495,1147.6254013800126,442.8751017247943C1288.0289372987586,473.9795285621637,1436.1229354354273,513.6892831302293,1564.8520352054252,558.0339784302339C1693.581134975423,602.3786737302385,1860.8086725342375,683.7917243423905,1920,708.9432735248217L 1920 1080 L 0 1080 Z"
      fill="url(#SvgjsLinearGradient1397)"></path>
    <path
      d="M0,211.52532527111438C50.053495573932,230.97890909235815,188.05297703827142,293.1669372214685,300.320973443592,328.246828198577C412.58896984891254,363.3267191756855,560.1617222909249,394.8472342415956,673.6079784319232,422.00467113376556C787.0542345729216,449.16210802593554,877.123091020524,455.8469993157259,980.9985102895818,491.1914495515968C1084.8739295586395,526.5358997874677,1198.6356717111703,591.7805767783755,1296.8604940462692,634.0713725489909C1395.085316381368,676.3621683196063,1466.490859974553,711.0748511025546,1570.3474443001746,744.9362241752895C1674.2040286257964,778.7975972480243,1861.724574050029,821.8557131837151,1920,837.2396109854002L 1920 1080 L 0 1080 Z"
      fill="url(#SvgjsLinearGradient1398)"></path>
  </svg>
</div>
