---

// 'background-image': 'linear-gradient(270deg, #2d005e, #004200)',
// 'background-size': '400% 400%',

---

<div class="fixed overflow-hidden -inset-x-48 -z-10 transform-gpu blur-2xl sm:blur-3xl xl:blur-[120px] sm:-inset-y-48 lg:-inset-y-96 2xl:inset-y-[-42rem]" aria-hidden="true">
  <div
    class="aspect-square animate-bg-wave bg-gradient-to-tr from-[#004200] to-[#2d005e] bg-400%"
  >
  </div>
</div>
