---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
import SocialLinks from './SocialLinks.astro'
---

<header class="bg-white/10 backdrop-blur-md">
  <nav class="container mx-auto flex justify-between">
    <div class="flex gap-2">
      <HeaderLink href="/">{SITE_TITLE}</HeaderLink>
      <HeaderLink href="/blog">Posts</HeaderLink>
      <HeaderLink href="/draft">Drafts</HeaderLink>
    </div>
    <div class="flex">
      <SocialLinks />
    </div>
  </nav>
</header>
