---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import BackgroundGradient from '../components/BackgroundGradient.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col bg-black text-white">
    <Header />
    <BackgroundGradient />
    <main class="container mx-auto pt-12">
      <h1>Home page content</h1>
    </main>
    <Footer />
  </body>
</html>
