---
const { class: className, ...props } = Astro.props
---

<svg
  width="1024"
  height="1024"
  viewBox="0 0 1024 1024"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class:list={['inline', className]}
  {...props}
>
  <title>Wés Guima - Emoji style</title>
  <path
    d="M511.5 865.499C677.5 869.499 716.5 646.5 716.5 646.5C716.5 646.5 762 661 751.5 557C678 415 716.5 291.5 518.5 291.5C311 291.5 345 403 275 552.5C252 659.5 311 646.5 311 646.5C311 646.5 345.5 861.499 511.5 865.499Z"
    fill="#E2B890"></path>
  <ellipse
    cx="512.667"
    cy="105.873"
    rx="95"
    ry="78.3858"
    transform="rotate(-19.5994 512.667 105.873)"
    fill="black"></ellipse>
  <path
    d="M564.857 189.034C563.382 185.312 560.48 182.334 556.797 180.763C530.418 169.51 498.384 169.767 469.846 180.524C465.89 182.015 462.748 185.105 461.191 189.034C459.782 192.589 458.556 196.775 458.477 201.528C458.395 206.449 459.555 210.978 461.543 215.239C463.136 218.652 465.954 221.341 469.438 222.771C479.496 226.902 496.348 229.085 511.754 229.408C519.773 229.576 528.082 229.257 535.754 228.258C543.196 227.289 551.056 225.556 557.557 222.344C560.613 220.834 563.063 218.328 564.505 215.239C566.493 210.978 567.653 206.449 567.571 201.528C567.492 196.775 566.266 192.589 564.857 189.034Z"
    fill="#004200"
    stroke="black"
    stroke-width="30"
    stroke-linejoin="round"></path>
  <path
    d="M321 554L285 529.5C285 529.5 287.992 460.414 295.5 420.5C335.285 209 496 218 511.5 218C527 218 689.131 209 728.5 420.5C735.932 460.429 738.5 528.5 738.5 528.5L705 553.5C705 553.5 702.234 454.602 699 434.5C672.937 272.5 576 349.5 511.5 349.5C455.5 349.5 356.681 273.5 327.5 434.5C324.6 450.5 321 554 321 554Z"
    fill="black"></path>
  <path
    d="M309.021 641.024C309.021 644.206 307.507 647.197 304.944 649.081C302.381 650.966 299.074 651.518 296.037 650.569C281.56 646.042 273.73 632.118 269.687 618.943C265.487 605.254 264.325 589.22 265.333 575.277C265.841 568.262 266.915 561.513 268.563 555.636C270.153 549.964 272.516 544.225 276.13 539.991C280.039 535.412 286.534 531.62 294.465 534.077C300.927 536.079 305.778 541.633 309.546 547.656C310.541 549.246 311.069 551.084 311.069 552.96C311.069 553.766 310.678 570.169 310.243 588.454C310.177 591.229 310.109 594.047 310.042 596.861C309.786 607.615 309.53 618.397 309.339 626.648C309.243 630.774 309.163 634.264 309.107 636.799C309.079 638.067 309.057 639.091 309.042 639.835C309.035 640.207 309.029 640.503 309.026 640.72C309.022 640.968 309.021 641.043 309.021 641.024Z"
    stroke="black"
    stroke-width="20"
    stroke-linejoin="round"></path>
  <path
    d="M717.04 641.024C717.04 644.206 718.554 647.197 721.117 649.081C723.68 650.966 726.987 651.518 730.024 650.569C744.501 646.042 752.331 632.118 756.374 618.943C760.574 605.254 761.736 589.22 760.728 575.277C760.221 568.262 759.146 561.513 757.498 555.636C755.908 549.964 753.545 544.225 749.931 539.991C746.023 535.412 739.527 531.62 731.596 534.077C725.134 536.079 720.284 541.633 716.515 547.656C715.52 549.246 714.992 551.084 714.992 552.96C714.992 553.766 715.383 570.169 715.818 588.454C715.885 591.229 715.952 594.047 716.019 596.861C716.275 607.615 716.531 618.397 716.723 626.648C716.819 630.774 716.898 634.264 716.954 636.799C716.982 638.067 717.004 639.091 717.019 639.835C717.026 640.207 717.032 640.503 717.035 640.72C717.04 640.968 717.04 641.043 717.04 641.024Z"
    stroke="black"
    stroke-width="20"
    stroke-linejoin="round"></path>
  <path
    d="M725 538.5C725 538.5 727.096 689.703 725.176 707C723.325 723.677 717.518 741.921 717.34 758.26C717.207 770.441 725.611 775.431 729.628 786.932C732.917 796.348 734.685 810.804 723.484 815.604C713.842 819.737 700.5 799.437 694.812 803.316C689.676 806.818 699.681 858.705 698.908 864.756C697.711 874.12 690.47 912.147 672.284 895.476C668.257 891.785 671.406 867.942 666.14 868.852C660.874 869.763 660.935 903.671 659.996 907.764C657.282 919.597 649.488 948.264 631.324 938.484C626.238 935.746 622.915 919.512 621.084 920.052C616.176 921.5 610.844 940.532 610.844 940.532C598.342 960.439 586.765 954.839 571.932 965.108C563.07 971.243 564.536 988.818 549.404 983.54C538.81 979.844 545.676 945.609 533.02 946.676C520.364 947.743 517.939 986.12 500.252 989.684C483.804 992.998 491.146 975.348 481.82 975.348C475.676 975.348 471.224 980.332 465.436 977.396C460.651 974.969 454.74 956.329 451.1 956.916C447.729 957.46 441.676 975.5 430.62 971.252C419.564 967.004 411.045 947.051 410.14 934.388C409.732 928.672 412.587 903.819 403.996 903.668C397.176 903.548 399.676 916.5 393.176 925.5C386.676 934.5 370.54 946.66 363.036 924.148C360.604 916.851 378.137 875.515 371.228 872.948C364.866 870.585 365.461 883.357 358.94 885.236C350.663 887.621 343.12 885.236 338.46 877.044C331.04 864 336.412 821.748 336.412 821.748C336.412 821.748 332.369 785.95 322.076 793.076C318.808 795.339 312.215 805.438 308.04 802C299.54 795 303.429 755.554 303.644 739.828C303.812 727.595 298.948 721.257 297.5 709.108C295.323 690.84 302.5 541.5 302.5 541.5C309.972 587.968 329 731 377.54 737.5C382.54 727 396.482 715.78 404 712C406.5 710.743 428 702 428 702L438.54 742V813.5C438.54 813.5 444.04 833.5 462.04 840.5C474.54 841 492.04 841.5 499.04 834.5C510.04 825 495.04 791.514 513.54 791C531.54 790.5 521.04 821.5 529.04 834.5C532.732 840.5 553.04 846.5 573.04 838.5C584.806 833.794 588.54 816 588.54 816C588.54 816 588.54 746.5 588.54 744C549.04 740.5 552.04 750.5 513.54 750.5C475.417 750.5 480 736.5 443 741C442.886 741.014 438.54 742 438.54 742L428 702C428 702 446.997 696.289 455 694.5C474.691 690.098 494.96 703.913 516.54 703.5C536.031 703.127 553.402 690.232 571.04 693.5C585.04 696.094 602.04 712 627.04 709.22C637.599 717.119 643.04 727 647.04 739C698 729.5 717.322 583.469 725 538.5Z"
    fill="black"></path>
  <path
    d="M428 702C428 702 406.5 710.743 404 712C396.482 715.78 382.54 727 377.54 737.5C329 731 309.972 587.968 302.5 541.5C302.5 541.5 295.323 690.84 297.5 709.108C298.948 721.257 303.812 727.595 303.644 739.828C303.429 755.554 299.54 795 308.04 802C312.215 805.438 318.808 795.339 322.076 793.076C332.369 785.95 336.412 821.748 336.412 821.748C336.412 821.748 331.04 864 338.46 877.044C343.12 885.236 350.663 887.621 358.94 885.236C365.461 883.357 364.866 870.585 371.228 872.948C378.137 875.515 360.604 916.851 363.036 924.148C370.54 946.66 386.676 934.5 393.176 925.5C399.676 916.5 397.176 903.548 403.996 903.668C412.587 903.819 409.732 928.672 410.14 934.388C411.045 947.051 419.564 967.004 430.62 971.252C441.676 975.5 447.729 957.46 451.1 956.916C454.74 956.329 460.651 974.969 465.436 977.396C471.224 980.332 475.676 975.348 481.82 975.348C491.146 975.348 483.804 992.998 500.252 989.684C517.939 986.12 520.364 947.743 533.02 946.676C545.676 945.609 538.81 979.844 549.404 983.54C564.536 988.818 563.07 971.243 571.932 965.108C586.765 954.839 598.342 960.439 610.844 940.532C610.844 940.532 616.176 921.5 621.084 920.052C622.915 919.512 626.238 935.746 631.324 938.484C649.488 948.264 657.282 919.597 659.996 907.764C660.935 903.671 660.874 869.763 666.14 868.852C671.406 867.942 668.257 891.785 672.284 895.476C690.47 912.147 697.711 874.12 698.908 864.756C699.681 858.705 689.676 806.818 694.812 803.316C700.5 799.437 713.842 819.737 723.484 815.604C734.685 810.804 732.917 796.348 729.628 786.932C725.611 775.431 717.207 770.441 717.34 758.26C717.518 741.921 723.325 723.677 725.176 707C727.096 689.703 725 538.5 725 538.5C717.322 583.469 698 729.5 647.04 739C643.04 727 637.599 717.119 627.04 709.22C602.04 712 585.04 696.094 571.04 693.5C553.402 690.232 536.031 703.127 516.54 703.5C494.96 703.913 474.691 690.098 455 694.5C446.997 696.289 428 702 428 702ZM428 702L438.54 742M438.54 742V813.5C438.54 813.5 444.04 833.5 462.04 840.5C474.54 841 492.04 841.5 499.04 834.5C510.04 825 495.04 791.514 513.54 791C531.54 790.5 521.04 821.5 529.04 834.5C532.732 840.5 553.04 846.5 573.04 838.5C584.806 833.794 588.54 816 588.54 816C588.54 816 588.54 746.5 588.54 744C549.04 740.5 552.04 750.5 513.54 750.5C475.417 750.5 480 736.5 443 741C442.886 741.014 438.54 742 438.54 742Z"
    stroke="black"
    stroke-linejoin="round"></path>
  <path
    d="M573.44 747.52C580.448 747.181 584.019 750.752 583.68 757.76C547.477 786.722 491.648 791.978 452.608 765.952C449.838 758.455 452.472 753.117 460.8 753.664C502.53 771.051 533.86 767.31 573.44 747.52Z"
    fill="black"></path>
  <path
    d="M472.192 497.451C475.192 506.451 473.192 514.951 466.692 514.951C457.692 511.451 438.192 489.951 359.192 511.451C354.192 512.451 348.692 499.563 358.192 495.451C425.192 466.451 445.094 475.128 472.192 497.451Z"
    fill="black"></path>
  <path
    d="M554.364 497.451C551.364 506.451 553.364 514.951 559.864 514.951C568.864 511.451 588.364 489.951 667.364 511.451C672.364 512.451 677.864 499.563 668.364 495.451C601.364 466.451 581.462 475.128 554.364 497.451Z"
    fill="black"></path>
  <path
    d="M434.465 573.267C442.546 574.546 455.241 575.315 465.185 583.507C467.166 587.072 465.365 590.331 463.137 593.747C461.901 595.641 461.031 596.766 459.041 597.843C454.241 597.843 451.508 596.822 446.753 595.795C443.53 595.098 441.786 594.436 438.561 593.747C415.254 588.767 395.241 593.747 375.073 597.843C370.997 597.98 368.249 598.022 364.833 595.795C362.938 594.559 361.713 593.739 360.737 591.699C358.977 588.02 360.652 584.935 362.785 581.459C368.241 577.827 381.217 575.315 381.217 575.315C400.241 571.327 414.741 571.327 434.465 573.267Z"
    fill="black"></path>
  <path
    d="M591.572 573.267C583.492 574.546 570.796 575.315 560.852 583.507C558.872 587.072 560.672 590.331 562.9 593.747C564.136 595.641 565.006 596.766 566.996 597.843C571.796 597.843 574.529 596.822 579.284 595.795C582.507 595.098 584.251 594.436 587.476 593.747C610.783 588.767 630.796 593.747 650.964 597.843C655.04 597.98 657.788 598.022 661.204 595.795C663.099 594.559 664.324 593.739 665.3 591.699C667.06 588.02 665.385 584.935 663.252 581.459C657.796 577.827 644.82 575.315 644.82 575.315C625.796 571.327 611.296 571.327 591.572 573.267Z"
    fill="black"></path>
  <mask
    id="path-14-outside-1_0_1"
    maskUnits="userSpaceOnUse"
    x="301.5"
    y="493"
    width="422"
    height="164"
    fill="black"
  >
    <rect fill="white" x="301.5" y="493" width="422" height="164"></rect>
    <path d="M312.5 544H342.5V549.5L312.5 544Z"></path>
    <path
      d="M485 575C485 614.765 452.765 647 413 647C373.235 647 341 614.765 341 575C341 535.235 373.235 503 413 503C452.765 503 485 535.235 485 575Z"
    ></path>
    <path d="M683 544H713L683 549.5V544Z"></path>
    <path
      d="M685 575C685 614.765 652.765 647 613 647C573.235 647 541 614.765 541 575C541 535.235 573.235 503 613 503C652.765 503 685 535.235 685 575Z"
    ></path>
  </mask>
  <path d="M312.5 544H342.5V549.5L312.5 544Z" fill="white" fill-opacity="0.85"
  ></path>
  <path
    d="M485 575C485 614.765 452.765 647 413 647C373.235 647 341 614.765 341 575C341 535.235 373.235 503 413 503C452.765 503 485 535.235 485 575Z"
    fill="#C0F0FF"
    fill-opacity="0.3"></path>
  <path d="M683 544H713L683 549.5V544Z" fill="white" fill-opacity="0.85"></path>
  <path
    d="M685 575C685 614.765 652.765 647 613 647C573.235 647 541 614.765 541 575C541 535.235 573.235 503 613 503C652.765 503 685 535.235 685 575Z"
    fill="#C0F0FF"
    fill-opacity="0.3"></path>
  <path
    d="M494 580H532V570H494V580ZM312.5 544V534C307.328 534 303.009 537.944 302.541 543.095C302.073 548.245 305.609 552.903 310.697 553.836L312.5 544ZM342.5 544H352.5V534H342.5V544ZM342.5 549.5L340.697 559.336L352.5 561.5V549.5H342.5ZM683 544V534H673V544H683ZM713 544L714.803 553.836C719.891 552.903 723.427 548.245 722.959 543.095C722.491 537.944 718.172 534 713 534V544ZM683 549.5H673V561.5L684.803 559.336L683 549.5ZM312.5 554H342.5V534H312.5V554ZM332.5 544V549.5H352.5V544H332.5ZM344.303 539.664L314.303 534.164L310.697 553.836L340.697 559.336L344.303 539.664ZM475 575C475 609.242 447.242 637 413 637V657C458.287 657 495 620.287 495 575H475ZM413 637C378.758 637 351 609.242 351 575H331C331 620.287 367.713 657 413 657V637ZM351 575C351 540.758 378.758 513 413 513V493C367.713 493 331 529.713 331 575H351ZM413 513C447.242 513 475 540.758 475 575H495C495 529.713 458.287 493 413 493V513ZM683 554H713V534H683V554ZM711.197 534.164L681.197 539.664L684.803 559.336L714.803 553.836L711.197 534.164ZM693 549.5V544H673V549.5H693ZM675 575C675 609.242 647.242 637 613 637V657C658.287 657 695 620.287 695 575H675ZM613 637C578.758 637 551 609.242 551 575H531C531 620.287 567.713 657 613 657V637ZM551 575C551 540.758 578.758 513 613 513V493C567.713 493 531 529.713 531 575H551ZM613 513C647.242 513 675 540.758 675 575H695C695 529.713 658.287 493 613 493V513Z"
    fill="white"
    fill-opacity="0.85"
    mask="url(#path-14-outside-1_0_1)"></path>
</svg>
