---
import BackgroundGradient from '../components/BackgroundGradient.astro'
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex min-h-[100dvh] min-w-[300px] flex-col justify-between bg-black text-white">
    <Header />
    <BackgroundGradient />
    <slot />
    <Footer />
  </body>
</html>
